<footer class="footer_linuxsavvy">
<a class="subscribe_linuxsavvy icon-rss" target="_blank" href="{{@blog.url}}/rss/">
	<span class="hidethis_linuxsavvy">Subscribe!</span>
</a>
<div class="footertext_linuxsavvy">
	All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.
</div>
<div class="footertext_linuxsavvy">
	Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a>
</div>
</footer>